<div class="col-sm-4 col-xs-12">
  <a [routerLink]="['/restaurants/detail',texto.id]">
    <div class="place-info-box">
      <span class="place-info-box-icon"><img [src]="texto.imagePath" /></span>
      <div class="place-info-box-content">
        <span class="place-info-box-text">{{texto.name}}</span>
        <span class="place-info-box-star"><i class="fa fa-star"></i> {{texto.rating}}</span>
        <span class="place-info-box-detail">{{texto.category}}</span>
        <span class="place-info-box-detail">{{texto.hours}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </a>
  <!-- /.info-box -->
</div>
<!-- /.col -->